RewriteEngine On
RewriteBase /viandas/public/

# REGLA DE ORO: Si el archivo existe físicamente, cargalo y pará acá (L = Last)
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Si no existe, pero es la carpeta assets, no hagas nada (evita el bucle)
RewriteRule ^assets/(.*)$ - [L]

# Todo lo demás que no sea un archivo o carpeta real, al index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]